.contenedor{
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: 200px 250px 150px 300px 200px 300px;
    display: grid;
    grid-template-areas: 
    "cabe cabe cabe cabe cabe cabe"
    "pri pri segu segu ter ter"
    "cuar cuar cuar quin quin quin"
    "sex sex sex sex sex sep"
    "oct oct oct oct oct oct"
    "nov deci deci deci deci deci"

    ;
}

header {
    background-color: black;
    grid-area: cabe;
}

#primero{
    background-color: rgb(85, 231, 0);
    grid-area: pri;
}

#segundo{
    background-color: rgb(30, 5, 99);
    grid-area: segu;
}

#tercero{
    background-color: rgb(86, 255, 20);
    grid-area: ter;
}

#cuarto{
    background-color: rgb(131, 12, 12);
    grid-area: cuar;
}

#quinto{
    background-color: rgb(194, 95, 95);
    grid-area: quin;
}

#sexto{
    background-color: rgb(73, 163, 21);
    grid-area: sex;
}

#septimo{
    background-color: rgb(255, 1, 1);
    grid-area: sep;
}

#octavo{
    background-color: rgb(0, 0, 0);
    grid-area: oct;
}

#noveno{
    background-color: rgb(245, 2, 2);
    grid-area: nov;
}

#decimo{
    background-color: rgb(172, 171, 171);
    grid-area: deci;
}
